body {
    background-color: black;
}

#form1 {
    background-color: white;
    margin-top: 10%;
    margin-left: 45%;
    width: 20%;
    height: 42vh;
    position: absolute;
    border-radius: 5px
}

#backgroundDiv {
    background-color: rgba(34,34,34, 0.45);
    position: absolute;
    width: 230%;
    z-index: -1;
    height: 24vh;
    margin-left: -100vw;
    margin-top: 16%;
    animation: 3s ease-in displayShadow;
    animation-fill-mode: forwards;
}


@keyframes displayShadow {
    65% {
        margin-left: -21vw;
        box-shadow: 0px 0px orangered;
    }

    100% {
        box-shadow: 9px 8px orangered;
        margin-left: -21vw;
    }
}

.seperateInputs > input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: orangered;
    margin-left: 5%;
    width: 80%;
    font-size: 2.5vh;
    transition: border-width .2s ease-in-out;
}

.seperateInputs {
    line-height: 10vh;
}

.SubmitButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vh;
    padding: 1vh;
    width: 6vw;
    /* transition: all 0.5s; */
    cursor: pointer;
    /* margin: 5px; */
    right: 3vw;
    position: absolute;
}
